# Auto detect text files and perform LF normalization
<!DOCTYPE html>
<html>
<body>
<h1>Hello World</h1>
<p>I'm hosted with GitHub Pages.</p>
<p>Luke Dhillon</p>
<p>Claremont McKenna College</p>

</body>
</html>
