# Auto detect text files and perform LF normalization
<!DOCTYPE html>
<html>
<body>
<h1>Hello World</h1>
<p>I'm hosted with GitHub Pages.</p>
<p>I am Luke Dhillon</p>
<p>I am from Claremont McKenna College</p>
<img src="https://www.google.com/search?q=claremont+mckenna+college&rlz=1C5CHFA_enUS767US769&sxsrf=ACYBGNQxTaAF0FmmwzcwkBmoQRfqe77eVw:1567727953454&source=lnms&tbm=isch&sa=X&ved=0ahUKEwjolZTe8brkAhUVoZ4KHcj3AQcQ_AUIFCgD&biw=1420&bih=692#imgrc=H4T1BzmIg3FReM:">
</body>
</html>
